repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: bump-pyproject-version
        name: Bump pyproject.toml version on fix/feat/hotfix
        entry: hooks/bump_version_commit_msg.sh
        language: system
        stages: [commit-msg]
